.about {
    min-height: 100vh;
    position: relative;
    background: var(--backgroud-main);
    color: var(--main-font-color);
    padding-top: 5vh;
    padding-bottom: 30vh;

    &-text-container {
        max-width: 60vw;
    }

    &-shadow {
        z-index: 1;

        &-text {
            position: absolute;
            font-weight: 700;
            font-size: 200px;
            color: #272727;
            opacity: 0.3;
            right: 0;
        }

        &-svg {
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    &-text {
        margin-top: 50px;
        color: var(--darken-font-color);
        font-weight: 500;
        font-size: 20px;
        line-height: 1.5em;
        //font-size: calc((1vh + 1vw) * 1.2);
        //line-height: calc((1vh + 1vw) * 2);
        text-align: center;
        z-index: 2;
    }
}