.about {
    //height: 100vh;
    //margin-top: -10vh;
    position: relative;
    background: #000;
    color: var(--main-font-color);
    padding-top: 5vh;
    padding-bottom: 30vh;

    &-text-container {
        max-width: 70vw;
        min-height: 40vh;
        max-height: 100vh;
    }

    &-shadow {

        z-index: 1;
        &-text {
            position: absolute;
            font-weight: 700;
            font-size: 200px;
            color: #272727;
            opacity: 0.3;
            right: 0;
        }

        &-svg {
            position: absolute;
            bottom: 0;
            left: 0;
        }

    }

    &-title {
        font-weight: 700;
        //font-size: 50px;
        font-size: calc((1vh + 1vw) * 2.0);
        line-height: 55px;
        margin-bottom: 50px;
        z-index: 2;

        &::after {
            @include line;
        }
    }

    &-text {
        color: var(--darken-font-color);
        font-weight: 500;
        //font-size: 30px;
        font-size: calc((1vh + 1vw) * 1.2);
        line-height: calc((1vh + 1vw) * 2);
        text-align: center;
        z-index: 2;
    }
}