.experience {
    min-height: 100vh;
    position: relative;
    padding: 30px;
    background: var(--backgroud-main);

    &-main {
        margin-top: 40px;
        &__desc {
            margin-top: 10px;
        }
    }
}