.header {
    //display: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 100%;
    background: #e4e4e4;
    min-height: 40px;
    z-index: 10;

    &-color {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 5px;
        padding: 5px;

        &__color {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            
            &:hover {
                cursor: pointer;
                border: 2px solid rgb(102, 102, 102);
            }
        }
    }
}

.green {
    background: #13FF00;
}
.orange {
    background: #ff8800;
}
.red {
    background: #ff4040;
}
.blue {
    background: #0084ff;
}
.purple {
    background: #ff00ff;
}