@mixin line {
    content: "";
    display: block;
    width: 8vw;
    height: 5px;
    background: var(--active);
    border-radius: 50px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 35px;
    //margin-left: 50%;
}