@import 'mx';
@import 'header';
@import 'home';
@import 'about';
@import 'study';
@import 'experience';
@import 'projects';

@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --main-font-color: white;
    --darken-font-color: #dedede;
    --invert-font-color: black;
    --active: #13FF00;
    --swiper-theme-color: #13FF00;
    --filter: invert(1%) sepia(94%) saturate(586%) hue-rotate(68deg) brightness(104%) contrast(136%);
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--main-font-color);
    background: #000;
    //font-family: 'Play';
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    overflow-x: hidden;
}

.container {
    //max-width: 1440px;
    //margin: auto;
}
.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
}

.active-font-color {
    color: var(--active);
}
.main-font-color {
    color: var(--main-font-color);
}
.invert-font-color {
    color: var(--invert-font-color);
}

.section-header {
    font-weight: 700;
    color: var(--main-font-color);
    font-size: calc((1vh + 1vw) * 2.0);
    line-height: 55px;
    //margin-bottom: 50px;
    z-index: 2;

    &::after {
        @include line;
    }
}
