@import 'mx';
@import 'home';
@import 'about';

@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --main-font-color: white;
    --invert-font-color: black;
    --active: #13FF00;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    font-family: 'Play';
    font-style: normal;
    overflow-x: hidden;
}

.container {
    //max-width: 1440px;
    //margin: auto;
}
.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
}

.active-font-color {
    color: var(--active);
}
.main-font-color {
    color: var(--main-font-color);
}
.invert-font-color {
    color: var(--invert-font-color);
}
